body {
  margin: 0
}

div {
  box-sizing: border-box;
}

.size{
  display:none;
}

.grey{
  background: lightgrey;
  height:2000px;
  margin-top: 500px;
}
.text{
  float: left;
  width:300px;
}
.image {
  float: right;
  width : 400px;

  /* 스크롤되면 이미지는 화면에 고정 조건부로 fixed -부모박스 넘어서면 해 */
  position: sticky;

  top: 100px;
}

.card-background{
  height:3000px;
  margin-top: 800px;
  margin-bottom: 1600px;
}
.card-box img{
  display:block;
  margin:auto;
  max-width: 80%;
}
.card-box{
  position: sticky;
  /* 좌표속성 필요 */
  top:400px;
  margin-top: 200px;
  transition:all 0.2s;
}
