.container{
    width: 400px;
}
.left{
    width:90%;
    height:200px;
    float: left;
}
.right{
    width:10%;
    height:150px;
    float:left;
}
.header{
    width:80%;
    float:left;
}
.profile{
    width:50px; 
    float:left;
    border-radius: 70%;
    overflow: hidden;
}

.loopycolors{
    width: 150px;
    position: relative;
    top:50%;
}
.upicon{
    position: absolute;
    width:20px;
    z-index: 2;
    margin-right: 0%;
}
.footer{
    text-align: right;
}