
.body-color{
    background-color: #f06624;
    height:600px;
    width:100%;
    position:absolute;
}
div{
    box-sizing: border-box;
}

.moviefont{
    font-weight: bolder;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    margin:100px;
    position: relative;
}
.secfont{
    background-color: white;
    color:orange;
    border-radius: 10px;
    
}
.sech{
    margin-left:100px;
    margin-top:-80px;
    color:white;
}
.winkavideo{
    width: 500px; 
    height:500px;
}

.search{
    margin:200px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color:white;
    font-family: 'Courier New', Courier, monospace;
}

.recommend-color{
    padding-top: 800px;
    margin-left: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, .87);
}
.content-box{
    flex:1;
}
.winkavideo {
    flex: 1; /* winkavideo가 content-box보다 더 큰 공간을 차지하도록 설정합니다. */
    background-color: ffff;
}

.winkavideo iframe {
    width: 500px; /* iframe의 너비를 100%로 설정하여 부모 요소에 맞게 조정합니다. */
    height: 300px; /* 원하는 높이로 설정합니다. */
}
.content-font{
    font-size: 30px;
}

