body{
    margin:0;
}

div{
    box-sizing: border-box;
}

/* 부모 div에 +display:grid
+grid-template-columns
+grid-template-rows 주면 모눈종이 완성 */
.grid-container{
    display:grid;
    /* 세로칸 갯수 사이즈 */
    /* fr단위로 폭지정 가능 -균등하게 쪼갤때 유용 */
    grid-template-columns: 100px 100px 100px 100px;
    /* 가로칸 갯수 사이즈 */
    grid-template-rows: 100px 100px;
    /* 격자 간격은 grid gap */
    /* 레이아웃 만들려면 1. 내부박스 크기 조절 2.그냥 부모 건들이기
        옵션 1.내부박스에 grid-olumn/grid-row 주기*/
    grid-template-areas: 
    /* 정확히 사각형을 맞추어야 한 */
        "헤더 헤더 헤더 헤더"
        "사이드 . . ."
        "사이드 . . ."       
}

.grid-nav{
    /* 세로선 1부터 4주기 */
    /* grid-column: 1/4; */
/* 가로선 1부터 3주기 */
    /* grid-row: 1/3  */

    /* 자식에 이름쓰고 부모는 색칠하기 */
    grid-area:헤더;
}
.grid-sidebar{
    /* grid-row:2/4; */
    grid-area:사이드;
}

.grid-container div{
    border: 1px solid black;
}