body{
    margin:0;
    background: grey;
    height: 3000px;
}
div{
    box-sizing: border-box;
}

.grey{
    background: lightgrey;
    height: 2000px;
    margin-top: 500px;
}
.text{   
    float:left;
    width:300px;
}

.image{
    float:right;
    width:400px;
    /* 스크롤되면 이미지는 화면에 고정 position fixed와 유사 그러나 sticky는 조건부로 fixed*/
    position: sticky;

    top:100px;
}