body {
    margin: 0
}

div {
    /* padding과 border를 변경해도 요소의 크기가 변하지 않음  */
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 5
}

.navbar-brand {
    font-size: 30px;
    transition: all 1s;
}

.fontLarge{
    font-size:100px;
}

.box{
    width:100px;
    height:100%;
    background-color: blue;
}

ul.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
  }
  ul.list::after {
    content: '';
    display: block;
    clear: both;
  }
  .tab-button {
    display: block;
    padding: 10px 20px 10px 20px;
    float: left;
    margin-right: -1px;
    margin-bottom: -1px;
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }
  .orange {
    border-top: 2px solid orange;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-left: 1px solid #ccc;
    color: black;
    margin-top: -2px;
  }
  .tab-content {
    display: none;
    padding: 10px;
  }
  .show {
    display: block;
  }

  .form-hide{
    display:none;
  }