body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.nav{
    background-color: blue;
    width: 50px;
    height: 100%;
    position: fixed;
}

.navbar.bg-body-tertiary > .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar.bg-body-tertiary .btn.btn-outline-success {
    color: #ffffff;
    background-color: black;
    border-color: black;
}
