body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.backgroundpage {
    background-color: #E0E0E0;
}

.container_1 {
    width: 80%;
    height: 300px;
    background-color: white;
    display: flex;
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Space items evenly */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 50px;
}

.profileim{
    width: 250px;
    height: 200px;
}
.container_1 .imcontainer {
    display: flex;
    align-items: center; /* Vertically align items */
    margin-left: 50px;
}

.bt1{
    color:white;
    background-color: #6CB4EE;
    border-radius: 5px;
    border:none;
    height: 30px;
    width:100px;
}


.v-line {
    border-left: 3px solid #E0E0E0;
    height: 250px;
    margin-left: 100px; /* Add margin to separate from .imcontainer */
}

.infocontainer{
    margin-left: -400px;
}

td{
    padding:10px;
}