body {
    margin: 0
}

div {
    /* padding과 border를 변경해도 요소의 크기가 변하지 않음  */
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 5
}

.navbar-brand {
    font-size: 30px;
    transition: all 1s;
}

.fontLarge{
    font-size:100px;
}

.box{
    width:100px;
    height:100%;
    background-color: blue;
}