body {
    margin: 0
  }
  
div {
  /* padding과 border를 변경해도 요소의 크기가 변하지 않음  */
  box-sizing: border-box;
}

.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
} 


.myImg{
  margin: 50px;
  display: block;
  margin-left:auto;
  margin-right: auto;
}

.list-group {
  display: block; /* 기본적으로 블록 레벨 요소로 표시 */
  max-height: 0; /* 초기에는 높이를 0으로 설정하여 숨김 */
  overflow: hidden; /* 넘치는 내용을 숨기기 위해 overflow 속성 사용 */
  transition: max-height 1s ease; /* 높이 변화에 대한 전환 효과 추가 */
}

.show {
  max-height: 400px; /* .show 클래스가 적용되면 최대 높이를 400px로 설정하여 보이게 함 */
}


.login-button{
  background-color: brown;
}

.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;

  visibility : hidden;
  opacity : 0;
  transition: all  1s;
}


.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
} 

.show-modal {
  visibility : visible;
  opacity : 1;
}

.login-container{
  margin:100px;
  text-align: center;
}
.login-button{
  margin:10px;
  background-color: white;
  border:none;
  width: 100px;
  height: 30px;
}

.body-background{
  background-color: black;
  color:white;
}
