body {
    margin: 0
  }
  
div {
  /* padding과 border를 변경해도 요소의 크기가 변하지 않음  */
  box-sizing: border-box;
}

.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
} 


.myImg{
  margin: 50px;
  display: block;
  margin-left:auto;
  margin-right: auto;
}